body {
    font-family: Helvetica, sans-serif;
    width: 80%;
    height: 70%;
    align-items: center;
    margin: 130px auto;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}

header {
    text-align: left;
}

.title {
    font-size: 80px;
    font-family: Georgia, serif;
    margin-bottom: 26px;

}

.subtitle {
    font-size: 28px;
    font-weight: normal;
    color: #797C7E;
    margin-top: 0;
}

div {
    display: flex;
}

button {
    margin-right: 150px;
    background-color: #03A87C;
    border: #03A87C;
    padding: 20px 100px 30px;
    color: white;
    white-space: nowrap;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: 230px;
}
.content h3{
    font-size: 26px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 40px;
}
.content p{
    font-size: 28px;
    color: #797C7E;
    
}
main::after{
    content: '';
    border-bottom: 2px solid #797C7E;
    display: block;
    width: 350px;
    position: relative;
    left: 410px;
    top: 50px
}