body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

body>* {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1em;
}

header,
footer {
    flex-basis: 100%;
}

header {
    padding-bottom: 5em;
}

main,
aside {
    padding-bottom: 12em;
}

main {
    flex-basis: 57%;
    flex: 8 1 40rem;

}

aside {
    flex: 2 1 20rem;
    flex-basis: 32%;
}

footer {
    padding-bottom: 3em;
}