body{
    display: grid;
    grid-template-areas:
    "header header" 
    "aside main"
    "footer footer";
    grid-template-columns: 100px auto;
    gap: 10px;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}