@import 'https://fonts.googleapis.com/css?family=Helvetica';
@import 'https://fonts.googleapis.com/css?family=Georgia';

html {
    font-family: Helvetica, sans-serif;

}

body {
    margin: 50px 100px;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

h1,
h2 {
    font-family: Georgia, serif;
}

header h1 {
    font-size: 40px;
    margin-top: 10px;
}


body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

body > .page > header {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 1320px;
}

article,
aside {
    display: inline-block;
    box-sizing: border-box;

}

article {
    width: 53%;
}

img {
    width: 75%;
}

aside {
    width: 20%;
    vertical-align: top;
}

aside section nav h3 {
    font-size: 20px;
}

aside ul li a {
    color: rgb(0, 153, 0);
}

.imgContainer {
    float: right;

}

.imgContainer2 {
    float: left;

}

img {
    border: solid 1px black;
    height: 242px;
    width: 160px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0px 70px 15px 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.imgContainer2 img {
    border: solid 1px black;
    height: 160px;
    width: 242px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0px 25px 10px 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
}

blockquote {
    border-left: solid 3px rgba(0, 0, 0, 0.25);
    color: gray;
    font-style: italic;
    width: 37%;
    float: right;
    font-family: Georgia, serif;
    padding: 0px 0px 30px 30px;
    margin: 0px 0px 0px 10px;


}

footer cite {
    padding-left: 140px;
}

.quote {
    display: inline-block;
}

/*
•	The entire content must be in div container with class page (div.page)
•	The page container (div) must be flexed and wrapped
•	Body background color must be rgb(238, 238, 238)
•	Image background color should be rgb(255, 255, 255)
•	Blockquote font family must be Georgia, serif
•	The anchors text color in the aside section must be rgb(0, 153, 0)
•	Page headings font family must be Georgia, serif

*/