section{
    margin-left: 20px
}

body{
margin: 0px;
padding: 0px;
background-color: #CCCCCC;
}
.first{
font-style: italic;
}

.second{
    font-size: 24px;
    }
h1{
    font-size: 28px;
}

